__pycache__/
/.playwright-cli/
/.uv-cache/
/.venv/
/codex/.codex/*
!/codex/.codex/skills/custom/
!/codex/.codex/AGENTS.md
/codex/.codex_validator/*
!/codex/.codex_validator/skills/custom/
!/codex/.codex_validator/AGENTS.md
/codex/readonly/
/codex/saved_artifacts
/codex/sessions/
/codex/sessions_validator/
/src/frontend/dist/
/src/frontend/node_modules/
/src/frontend/tsconfig.tsbuildinfo
/output/playwright/
