/.tmp/
/cache/
/log/
/memories/
/sessions/
/shell_snapshots/
/skills/.system/
/tmp/
/config.toml
/.personality_migration
/auth.json
/installation_id
/logs_2.sqlite
/logs_2.sqlite-shm
/logs_2.sqlite-wal
/models_cache.json
/state_5.sqlite
/state_5.sqlite-shm
/state_5.sqlite-wal
/version.json
